@import "vars"

$icon-size: 1.75rem

@mixin fade-in($duration: .5s)
  @keyframes fade-in
    0%
      transform: translateY(.5rem)
      opacity: 0
    100%
      transform: translateY(0)
      opacity: 1

  animation: fade-in $duration ease-out

section, footer
  padding: 2rem 1rem .5rem

section
  text-align: center

  &.hero
    display: flex
    flex-flow: column
    justify-content: center
    height: 100vh
    min-height: 20rem
    max-height: 40rem
    background-color: #9ea

    .header
      @include fade-in()

  .header, p
    margin: .5rem 0

  p
    padding: .5rem

a
  text-decoration: underline

footer
  background-color: #333
  color: #fff

  .content-wrapper
    flex-direction: row
    justify-content: space-between
    align-items: center

    & > div
      margin: .5rem 0

  .contacts
    display: flex
    flex-direction: column
    align-items: flex-start

    & > div
      display: flex
      align-items: center

    .icon
      width: $icon-size
      height: $icon-size
      margin: .2rem
      margin-left: 0
      background-size: cover
      background-image: url("~assets/img/contacts-sprite.png")

@media screen and (max-width: $mobile-breakpoint)
  footer .content-wrapper
    flex-direction: column
    align-items: flex-start

.icon
  display: inline-block
  background-repeat: no-repeat

  &.photo
    @include fade-in()

    width: 9rem
    height: 9rem
    margin: 0 auto 2rem
    border-radius: 50%
    background-image: url("~assets/img/selfie-1.jpeg")
    background-position: center
    background-size: contain
    transition: transform .2s ease-out

    &:hover
      transform: translate3d(0, 0, 0) scale(1.05)
      cursor: pointer

.button-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center

.button
  display: flex
  justify-content: space-around
  align-items: center
  padding: .5rem 1rem

  &.tg
    color: #fff
    background-color: #58f

  &.mail
    color: #fff
    background-color: #f44

.icon
  width: $icon-size
  height: $icon-size
  margin-right: .2rem
  background-image: url("~assets/img/contacts-sprite.png")
  background-size: cover

  &.tg
    background-position: 0 -2 * $icon-size
